@model WebNoiThat_64132077.Models.EF.Slide

@{
    ViewBag.Title = "Cập nhật";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    <div class="content-header">
        <div class="row mb-3">
            <div class="col-sm-6">
                <h3 class="m-0">Cập nhật Slide</h3>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a style="text-decoration: none" href="/Admin/Home_64132077">Home</a></li>
                    <li class="breadcrumb-item"><a style="text-decoration: none" href="/Admin/PostCategory_64132077">Slide</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
}
<section class="section">
    <div class="section-body">
        <div class="card">
            @using (Html.BeginForm("Edit", "Silde_64132077", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="card-header">
                    <h4>Thông tin Slide</h4>
                </div>
                <div class="card-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-12 d-flex">
                            @Html.TextBoxFor(model => model.Image, new { @class = "form-control", @id = "txtImage", @placeholder = "Đường dẫn image" })
                            <button id="btnSelectImage" class="btn btn-outline-primary ml-2 col-sm-2 col-md-4 col-lg-2">Chọn ảnh</button>
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.Position, new { @class = "form-control", type = "number" })
                            @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group d-flex">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-3 col-lg-1" })
                        <div class="col-md-9">
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.Status)
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12 d-flex">
                            <input type="submit" value="Create" class="btn btn-outline-primary mr-4" />
                            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-outline-dark" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section script{
    <script>
        $(document).ready(function () {
            $('#btnSelectImage').on('click', function (e) {
                e.preventDefault();
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    $('#txtImage').val(url);
                };
                finder.popup();
            });

            CKEDITOR.replace('txtContent', {
                customConfig: '/Assets/admin/Plugin/ckeditor/config.js',
                allowedContent: true,

            });
        });
    </script>
}