@model WebNoiThat_64132077.Models.RegisterAccount
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (TempData["Message"] != null)
    {
        <div class="container">
            <div class="alert alert-warning">
                @TempData["Message"]
            </div>
        </div>
    }
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            @using (Html.BeginForm("Register", "User_64132077", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-container">
                    <h4 class="form-title">Đăng ký</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", type = "password" })
                                </div>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButtonFor(model => model.Gender, true, new { @class = "form-check-input", @checked = true }) Nam
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButtonFor(model => model.Gender, false, new { @class = "form-check-input" }) Nữ
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <input type="submit" value="Đăng ký" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    <script>
        // Tự động ẩn thông báo sau 5 giây
        setTimeout(function () {
            var alertElement = document.querySelector(".alert");
            if (alertElement) {
                alertElement.style.transition = "opacity 0.5s ease";
                alertElement.style.opacity = 0;
                setTimeout(function () {
                    alertElement.style.display = "none";
                }, 500); // Chờ hiệu ứng fade-out hoàn tất
            }
        }, 3000); // 5 giây
    </script>

}