@model IEnumerable<WebNoiThat_64132077.Models.EF.Product>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <!-- Product 1 -->
        var strImge = "";
        var img = item.ProductImages.FirstOrDefault(x => x.IsDefault);
        if (img != null)
        {
            strImge = img.Path;
        }

        <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
            <div class="product product-11 text-center">
                <figure class="product-media">
                    @if (item.IsSale && item.PromotionPrice > 0)
                    {
                        <span class="product-label label-sale">Sale</span>
                    }

                    @if (item.CreateDate.HasValue && (DateTime.Now - item.CreateDate.Value).TotalDays <= 7)
                    {
                        <span class="product-label label-new">New</span>
                    }

                    @if (item.Hot != null && item.Hot > DateTime.Now)
                    {
                        <span class="product-label label-top">Hot</span>
                    }
                    <a href="/chi-tiet/@item.SeoTitle-p@(item.ID)">
                        <img src="@strImge" alt="@item.Name" class="product-image" style="height:220px">
                    </a>

                    <div class="product-action-vertical">
                        <a href="javascript:void(0)" class="btn-product-icon btn-wishlist"
                           onclick="addToWishlist(@item.ID)">
                            <span>add to wishlist</span>
                        </a>
                    </div><!-- End .product-action-vertical -->
                </figure><!-- End .product-media -->

                <div class="product-body">
                    <div class="ratings-container">
                        @if (ViewBag.ProductRatings.ContainsKey(item.ID))
                        {
                            var rating = ViewBag.ProductRatings[item.ID];
                            <div class="ratings">
                                <div class="ratings-val" style="width: @(rating.AverageRating * 20)%"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">(@rating.ReviewCount Reviews)</span>
                        }
                        else
                        {
                            <span class="ratings-text">(No Reviews)</span>
                        }
                    </div>

                    <div class="product-cat">
                        <a href="/danh-muc-san-phan/@item.ProductCategory.SeoTitle-@item.ProductCategory.ID">@item.ProductCategory.Name</a>
                    </div><!-- End .product-cat -->
                    <h3 class="product-title"><a href="/chi-tiet/@item.SeoTitle-p@(item.ID)">@item.Name</a></h3><!-- End .product-title -->
                    <div class="product-price">
                        @if (item.IsSale && item.PromotionPrice > 0)
                        {
                            <span class="new-price">@item.PromotionPrice đ</span>
                            <span class="old-price" style="text-decoration: line-through;">@item.Price đ</span>
                        }
                        else
                        {
                            <span>@item.Price đ</span>
                        }
                    </div><!-- End .product-price -->
                </div><!-- End .product-body -->
                <div class="product-action">
                    @if (item.Quantity > 0)
                    {
                        <a href="#" class="btn-product btn-cart btnAddtoCart" data-id="@item.ID"><span>add to cart</span></a>
                    }
                    else
                    {
                        <span class="btn btn-outline-danger">Hết hàng</span>
                    }
                </div><!-- End .product-action -->
            </div><!-- End .product -->
        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

    }
}
@section scripts{
    <script src="~/Scripts/WishList.js"></script>
}